{% extends "base.html" %}

    {% block body %}
    
        <div class="form-style-3">
            <form action="{{url_for('create_task')}}" method="post">
    
                <fieldset><legend>Add New Task</legend>
                <label for="field4">
                    <span>Name <span class="required">*</span></span>
                    <select name="field4" class="select-field">     
    
                        {% for name in names %}
                            <option value="{{ name['id'] }}">{{ name['name'] }}</option>
                        {% endfor %}
    
                    </select>
                </label>
    
                    <label for="subject"><span>Subject <span class="required">*</span>
                        </span><input type="text" class="input-field" name="subject" value="" required="">
                    </label>
                    <label for="description"><span>Description <span class="required">*</span>
                        </span><input type="text" class="input-field" name="description" value="" required="">
                    </label>
                    <label for="due_date"><span>Due Date <span class="required">*</span>
                        </span><input type="date" class="input-field" name="due_date" value="" required="">
                    </label>
                        <button type="submit">Create Task</button>
                </fieldset>
            </form>
    
            <form action="{{url_for('get_task')}}" method="post">
                <fieldset><legend>Display Tasks By Name</legend>
                    <label for="id">
                        <span>Select <span class="required">*</span></span>
                        <select id="id" name="id" class="select-field">     
        
                            {% for name in names %}
                                <option value="{{ name['id'] }}">{{ name['name'] }}</option>
                            {% endfor %}
    
                        </select>
                    </label>
                        <button type="submit">Display Tasks</button>
                </fieldset>
            </form>
            <form action="{{url_for('add_name')}}" method="post">
                <fieldset><legend>Add A Name</legend>
                    <label for="user_name"><span>Name <span class="required">*</span>
                        </span><input type="text" class="input-field" name="user_name" value="" required="">
                        
                    </label>
                        <button type="submit">Submit</button>
                </fieldset>
            </form>
            
        </div>
    
{% endblock %}
    
   